.bg{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.body-centered-bg{
  @extend .bg;
   background-image: url("../images/backgrounds/centered.svg");
 }
.dashboard-bg{
  @extend .bg;
  background-image: url("../images/backgrounds/ds-bg.svg");
}
.account-select-bg{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url("../images/backgrounds/account_sellection_bg.svg");
}
.no-break{
  white-space: nowrap;
}
.ellipsis{
  @extend .no-break;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Ripple effect */
.ripple {

}


.bbutton-fancy{
  @extend  .txt-normal;
  @extend  .bd-none;
  @extend .no-break;
  @extend  .p-l-x8;
  @extend  .p-r-x8;
  background-position: center;
  transition: background 0.8s;
  @extend .no-outline;
  &.pry{
    &:hover {
      background: lighten(#1A73E8,10) radial-gradient(circle, transparent 1%, lighten(#1A73E8,10) 1%) center/15000%;
    }
    &:active {
      background-color: map_get($colors,'pry');
      background-size: 100%;
      transition: background 0s;
    }
  }
  &.pry-dark{
    &:hover {
      background: lighten(#32456B,10) radial-gradient(circle, transparent 1%, lighten(#32456B,10) 1%) center/15000%;
    }
    &:active {
      background-color: map_get($colors,'pry-shade-1');
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.sec{
    &:hover {
      background: lighten(#F8ED86,10) radial-gradient(circle, transparent 1%, lighten(#F8ED86,10) 1%) center/15000%;
    }
    &:active {
      background-color: map_get($colors,'sec');
      background-size: 100%;
      transition: background 0s;
    }
  }
  &.grey{
    &:hover {
      background: lighten(#a8b2c4,10) radial-gradient(circle, transparent 1%, lighten(#a8b2c4,10) 1%) center/15000%;
    }
    &:active {
      background-color: map_get($colors,'grey-shade-1');
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.white{
    &:hover {
      background: lighten(#e3e2e2,10) radial-gradient(circle, transparent 1%, lighten(#ccd3de,10) 1%) center/15000%;
    }
    &:active {
      background-color: map_get($colors,'white');
      background-size: 100%;
      transition: background 0s;
    }
  }

  &.ig{
    background: map_get($colors,'ig');
    &:hover {
      background: lighten(rgba(253, 29, 29, 0.69),10) radial-gradient(circle, transparent 1%, lighten(rgba(253, 29, 29, 0.69),10) 1%) center/15000%;
    }
    &:active {
      background: map_get($colors,'ig');
      background-size: 100%;
      transition: background 0s;
    }
  }


  &.error{
    &:hover {
      background: lighten(#ff4d46,10) radial-gradient(circle, transparent 1%, lighten(#ff4d46,10) 1%) center/15000%;
    }
    &:active {
      background-color: map_get($colors,'error');
      background-size: 100%;
      transition: background 0s;
    }
  }

  border-radius: 5px;
}
.bbutton-fancy__ig{
  @extend .bbutton-fancy;
  @extend  .bg-ig;
  @extend  .txt-c-white;
  @extend  .p-t-x5;
  @extend  .p-b-x5;
  @extend  .bd-round-x2;
}
.bbutton-fancy__pry{
  @extend .bbutton-fancy;
  @extend  .bg-pry;
  @extend  .txt-c-white;
  @extend  .p-t-x5;
  @extend  .p-b-x5;
  @extend  .bd-round-x2;
}

.bbutton-fancy__error{
  @extend .bbutton-fancy;
  @extend  .bg-error;
  @extend  .txt-c-white;
}


//Input box class

.binput-fancy{
  @extend  .txt-normal;
  @extend  .bd-none;
  //@extend .active\:shadow-outline-pry;
  @extend .txt-c-black-tint-1;
  @extend  .bd-round-x2;

  input,select,textarea{
    height: 100%;
    width: 100%;
    @extend  .p-l-x6;
    @extend  .p-r-x6;
    @extend  .p-b-none;
    @extend  .p-b-none;
    @extend  .bd-round-x3;
    border: none!important;
    outline: none;
  }
  outline: none;
  &::placeholder{
    @extend .txt-c-grey-shade-1
  }
}

.container{
  @extend .m-l-auto;
  @extend .m-r-auto;
  @extend .p-l-x6;
  @extend .p-r-x6;
  max-width: 1200px;
}

.card{
  @extend .shadow-softer;
  @extend .p-l-x8;
  @extend .p-r-x8;
  @extend .p-t-x6;
  @extend .p-b-x6;
}
.no-outline{
  outline: none;
}
.error-list{
  ul{
    padding: 10px 10px;
    @extend .txt-c-error;
    li{
      margin-bottom: 4px;
    }
  }
}

.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span {
  background: map_get($colors,'sec')!important;
}

.vdatetime-year-picker__item--selected,
.vdatetime-time-picker__item--selected,
.vdatetime-popup__actions__button {
  color: map_get($colors,'sec')!important;
}

.vc-compact-color-item{
  height: 20px!important;
  width: 20px!important;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.select__wrp{
  display: inline-block!important;
  position: relative;
  &::after{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: calc(50% - 3.5px);
    right: 19px;
    border-width: 6px;
    border-style: solid;
    border-color: #222733 transparent transparent transparent;
  }
  select{
    padding-right: toRem(40)!important;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 16px;
  width: 16px;

  border: 1px solid;
  left: 0px;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 4px;
  top: 7px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
$tooltip_width: 200px;
.tooltip {
  position: relative;
  &:focus {
    .tooltiptext {
      visibility: visible;
    }
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
  &.active{
    .tooltiptext {
      visibility: visible;
    }
  }
  .tooltiptext {
    visibility: hidden;
    min-width: $tooltip_width;
    width: 100%;
    background-color: #165fbf;
    color: #fff;
    @extend .txt-light;
    @extend .shadow-x4;
    border-radius: 6px;
    position: absolute;
    z-index: 18;
    padding: 10px;
    font-size: #{toRem($font_size)};
    line-height: #{getLineHeight($font_size)};
    &::after {
      content: "";
      position: absolute;
      border-width: 7px;
      border-style: solid;
      border-color: #165fbf transparent transparent transparent;
    }
  }
  .tooltiptext.center{
    bottom: 115%;
    left: 50%;
    text-align: center;
    margin-left: -#{$tooltip_width/2};
    &::after{
      top: 100%;
      left: 50%;
      margin-left: -5px;
    }
  }
  .tooltiptext.right{
    bottom: 115%;
    left: 0;
    right: 0;
    margin-left: auto;
    text-align: center;
    &::after{
      bottom: -12px;
      right: 10px;
      margin-right: -5px;
    }
  }
  .tooltiptext.left{
    bottom: 115%;
    left: 0;
    right: 0;
    margin-right: auto;
    text-align: center;
    &::after{
      bottom: -12px;
      left: 10px;
      margin-left: -5px;
    }
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

