/* Error: Undefined variable.
 *   ,
 * 9 |   @each $element, $template in $grids {
 *   |                                ^^^^^^
 *   '
 *   grid.scss 9:32  grid-for-screen()
 *   grid.scss 39:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502    @each $element, $template in $grids {\d\a   \2502                                 ^^^^^^\a   \2575 \a   grid.scss 9:32  grid-for-screen()\a   grid.scss 39:1  root stylesheet";
}
