@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../files/fonts/Gotham/Gotham-Book.woff) format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../files/fonts/Gotham/Gotham-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../files/fonts/Gotham/Gotham-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../files/fonts/Gotham/Gotham-Light.woff) format('woff');
}
