@font-face {
  font-family: 'Sofia-pro';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(../files/fonts/Sofia-pro/Sofia-Pro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Sofia-pro';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../files/fonts/Sofia-pro/Sofia-Pro-Bold.woff) format('woff');

}

@font-face {
  font-family: 'Sofia-pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../files/fonts/Sofia-pro/Sofia-Pro-Light.woff) format('woff');

}
