/* Error: Undefined variable.
 *   ,
 * 2 |   @each $element, $size in $sizes {
 *   |                            ^^^^^^
 *   '
 *   line-height.scss 2:28  line-height-for-screen()
 *   line-height.scss 11:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    @each $element, $size in $sizes {\d\a   \2502                             ^^^^^^\a   \2575 \a   line-height.scss 2:28  line-height-for-screen()\a   line-height.scss 11:1  root stylesheet";
}
