$normal_text_font: -apple-system, 'Poppins', BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$head_text_font: 'Sofia-pro', sans-serif;
$btn_text_font: $normal_text_font;
