$shadows: (
        outline: "0 0 0 2px color!important",
        outline-x4: "0 0 0 4px color!important",
        x1: "0 0 0 1px rgba(0, 0, 0, 0.05)!important",
        x2: "0 1px 2px 0 rgba(0, 0, 0, 0.05)!important",
        soft: "3px 4px 32px rgba(205, 205, 205, 0.25)",
        softer: "5px 9px 28px rgba(171, 172, 173, 0.24)",
        footer: "2px -4px 11px rgba(205, 205, 205, 0.25)",
        x3: "0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)!important",
        x4: "0 10px 15px -3px rgba(6, 31, 81, 0.11), 0 4px 6px -2px rgba(7, 33, 85, 0.06) !important",
        x5: "0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)!important",
        x6: "0 25px 50px -12px rgba(0, 0, 0, 0.25)",
        inset: "inset 0 2px 4px 0 color!important"
);
