/* Error: Undefined variable.
 *   ,
 * 6 |   $size in $sizes {
 *   |            ^^^^^^
 *   '
 *   radius.scss 6:12  border-radius-for-screen()
 *   radius.scss 37:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502    $size in $sizes {\d\a   \2502             ^^^^^^\a   \2575 \a   radius.scss 6:12  border-radius-for-screen()\a   radius.scss 37:1  root stylesheet";
}
